/* src/index.css */

/* 1) Importa las directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 2) Opcional: Añade aquí tus estilos globales */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, "Helvetica Neue", Arial, 
               "Noto Sans", sans-serif, "Apple Color Emoji", 
               "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #f9fafb;
}
